
<div class="modal-header">
    <button class="btn btn-warning" ng-click="vm.addToRec()">Polec znajomemu</button>
    <input type="text" placeholder="login znajomego" ng-model="vm.login">
    <p>{{vm.statement}}</p>
</div>
<div class="modal-body">
    <!--<p>Action:-->
    <!--<pre>{{ vm.action }}</pre>-->
    <!--</p>-->
    <p>Wydarzenie:
    <pre>{{ vm.event.title}}</pre>
    </p>
    <p>Opis:
    <pre>{{ vm.event.description}}</pre>
    </p>
    <img src="{{vm.event.image}}" alt="" class="images">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">Zamknij</button>
    <button class="btn btn-success" ng-click="vm.addToFav()">Dodaj do ulubionych</button>

</div>
