<!--CALENDAR-->

<div class="col-md-8">
    <div class="col-xs-12">
    <h2 class="text-center">{{ vm.calendarTitle }}</h2>
    </div>
    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="vm.viewDate"
                        decrement="vm.calendarView">
                    Poprzedni
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="vm.viewDate"
                        set-to-today>
                    Dziś
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="vm.viewDate"
                        increment="vm.calendarView">
                    Następny
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Rok</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Miesiąc</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Tydzień</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Dzień</label>
            </div>
        </div>
    </div>


    <br>


    <mwl-calendar
            events="vm.events"
            view="vm.calendarView"
            view-title="vm.calendarTitle"
            view-date="vm.viewDate"
            on-event-click="vm.eventClicked(calendarEvent)"
            on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            on-edit-event-click="vm.eventEdited(calendarEvent)"
            cell-is-open="vm.isCellOpen"
            day-view-start="06:00"
            day-view-end="22:00"
            day-view-split="30"
            cell-modifier="vm.modifyCell(calendarCell)">
    </mwl-calendar>


</div>