<div class="searchMenu">

    <!--<ul>-->
    <!--<li ng-repeat="event in filteredOutEvents">{{event.type}}</li>-->
    <!--</ul>-->

    <select class="form-control" ng-model="item" ng-change="pickType()">
        <option value="">Wszystkie</option>
        <option value="kino">Kino</option>
        <option value="koncert">Koncert</option>
        <option value="sport">Sport</option>
        <option value="sztuka">Sztuka</option>
        <option value="rozrywka">Rozrywka</option>
        <option value="teatr">Teatr</option>
    </select>
</div>