<div class="col-md-8">
<div class="col-xs-10">

    <!--<ul>-->
    <!--<li ng-repeat="event in filteredOutEvents">{{event.type}}</li>-->
    <!--</ul>-->

    <select class="form-control" ng-model="item" ng-change="pickType()">
        <option value="">Wszystkie</option>
        <option value="kino">Kino</option>
        <option value="koncert">Koncert</option>
        <option value="sport">Sport</option>
        <option value="sztuka">Sztuka</option>
        <option value="rozrywka">Rozrywka</option>
        <option value="teatr">Teatr</option>
    </select>
</div>

<div class="col-xs-2">
    <button type="btn-default" id="logoutButton">LogOut</button>
</div>
   </div>